*{
	margin: 0;
	padding: 0;
	font-family: "OpenSans";
}

html,body{
	height: 100%;
}
@font-face{
	src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-family: "OpenSans";
}

.cabecalho{
	height: 13%;
	width: 100%;
	background-color: rgb(21,101,191);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding-right: 1%;
}

.btn-sair {
	font-size: 0.9rem;
	background-color: rgb(240,240,240);
	color: rgb(21,101,191);
	border: none;
	padding: 10% 15px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-sair:hover {
	background-color: rgb(3,168,243);
	color: #fff;
}
.menu{
	margin-top: 4%;
	width: 100%;
	position: absolute;
	gap: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu a{
	text-align: center;
	font-size: 1.25rem;
	text-decoration: none;
	color: rgb(240,240,240);
}
.Banner{
	background-color: rgb(3,168,243);
	height: 35vh;
	z-index: 1;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.Dados{
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 50%;
	top: 22vh;
	transform: translateX(-50%);
	z-index: 2;
	width: 95%;
	height: 250vh;
	border-radius: 5px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.cards{
	margin-top: 5%;
	margin-left: 5%;
	background-color: rgb(21,101,191);
	height: 120px; /*a altura precsa ser em px pra funcionar e nao container pra baixo*/
	width: 90%;
	display: flex;/*Exibe os cards lado a lado*/
	justify-content: space-between; /*Espaçamento uniforme entre os cards*/
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.card1, .card2, .card3, .card4{
	background-color: rgb(240,240,240);
	height: 100%;
	width: 24.8%;
	display: flex; /* muda de inline-block para flex pra ficar tudo em linha */
	justify-content: center; /* centraliza na horizontal */
	align-items: center;/* centraliza na vertical */
	color: rgb(64,64,64);
}

.card-conteudo{
	display: flex;
	flex-direction: column; /*Organiza os elementos de cima para baixo (verticalmente)*/
	justify-content: space-between; /* Empurra o número para o topo e a descrição para o fundo */
	align-items: center; /*Centraliza os filhos na horizontal dentro do card*/
	height: 80%;
	width: 100%;
	padding: 10px 0;
}
.contador{
	font-size: 60px;
	font-weight: bold;
}

.descricao{
	font-size: 20px;
	color: rgb(64,64,64);
}
.containerConteudo{
	display: flex;
	flex-direction: row; /*lado a lado*/
	justify-content: space-between;
	margin-left: 5%;
	width: 90%;
	margin-top: 2%;
}
.conteudo h1{
	display: flex;
	align-items: center;
  	text-align: center;
 	margin: 2% 0;
	font-size: 25px;
	color: rgb(64,64,64);
	margin-bottom: 5%;
}

.conteudo h1::before,
.conteudo h1::after {
  content: "";
  flex: 1;
  border-bottom: 1.7px solid rgb(64,64,64);
}

.conteudo h1::before {
  margin-right: 10px;
}

.conteudo h1::after {
  margin-left: 10px;
}

.conteudo{
	text-align: center;
	width: 700px;
	height: 20%;
}
.noticias h2{
	text-align: center;
	font-size: 25px;
	color: cinzaescuro;
}
.noticias h4{
	margin-top: -1.5%;
	margin-bottom: 5%;
	color: cinzaclaro;
}

.noticias p{
	text-align: justify;
}
.noticias img{
	margin-bottom: 7%;
	width: 700px;
	height: 20%;
}
.atalhos{
	width: 30%;
	height: 300px;
	border-radius: 5px; /*bordas arredondadas*/
	padding: 10px;
	display: grid; /*ativa o modo grade para a div*/
	grid-template-columns: 1fr 1fr;/* 2 colunas iguais */
	grid-gap: 10px;/* espaçamento entre os atalhos */
}
.atalho1, .atalho2, .atalho3, .atalho4{       
	background-color: rgb(240, 240, 240);
	padding: 30px;
	border-radius: 8px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.atalhos a {
  text-decoration: none;
  color: black;
}
.atalhos img {
	width: 50px;
	height: 50px;
	margin-top: 10px;
	background-color: transparent; 
}


.atalho1:hover {
	background-color: rgb(3,168,243); /*aplica estilo quando o mouse estiver em cima*/
}
.atalho2:hover {
	background-color: rgb(3,168,243); /*aplica estilo quando o mouse estiver em cima*/
}
.atalho3:hover {
	background-color: rgb(3,168,243); /*aplica estilo quando o mouse estiver em cima*/
}
.atalho4:hover {
	background-color: rgb(3,168,243); /*aplica estilo quando o mouse estiver em cima*/
}
