*{
	margin: 0;
	padding: 0;
	font-family: "OpenSans";
}

html,body{
	height: 100%;
}
@font-face{
	src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-family: "OpenSans";
}
.cabecalho{
	height: 13%;
	width: 100%;
	background-color: rgb(21,101,191);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding-right: 1%;
}

.btn-sair {
	font-size: 0.9rem;
	background-color: rgb(240,240,240);
	color: rgb(21,101,191);
	border: none;
	padding: 10% 15px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-sair:hover {
	background-color: rgb(3,168,243);
	color: #fff;
}
.menu{
	margin-top: 4%;
	width: 100%;
	position: absolute;
	gap: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu a{
	text-align: center;
	font-size: 1.25rem;
	text-decoration: none;
	color: rgb(240,240,240);
}

.titulo{
	margin-top: 5%;
	margin-bottom: 3%;
	margin-left: 2%;
	display: flex;
  align-items: center;
  text-align: center;
	font-size: 1.6rem;
	color: rgb(64,64,64);
}

.titulo::after {
  content: "";
  flex: 1;
  border-bottom: 1.7px solid rgb(64,64,64);
  margin-right: 0.3%;
  margin-left: 1%;
}

.Banner{
	background-color: rgb(3,168,243);
	height: 35vh;
	z-index: 1;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.Dados{
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 50%;
	top: 22vh;
	transform: translateX(-50%);
	z-index: 2;
	width: 95%;
	height: 140%;
	border-radius: 5px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
form .containerFiltros{
	padding-left: 4%;
	padding-right: 4%;
}

form .titulo{
	padding-left: 2%;
	padding-right: 2%;
}

.containerFiltros input{
	margin-left: 1%;
	margin-bottom: 1%;
	height: 25px;
}

#name{
	width: 55%;
}
.containerFiltros input[type=text]{
	width: 20%;
}

.containerFiltros select{
	width: 20%;
	margin-left: 1%;
	height: 29px;
	font-size: 1rem;
}

.submit{
	margin-top: 1%;
	display: flex;
	position: relative;
	font-size: 1rem;
	text-align: center;
	gap: 10px;
	margin-left: 1%;

}

.btn-proximo {
	width: 10%;
	height: 15%;
	background-color: rgb(240,240,240);
	color: rgb(21,101,191);
	padding: 10px 20px;
	border: 2px solid #1E90FF;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s;
	cursor: pointer;
}

.btn-proximo:hover {
	background-color: rgb(3,168,243);
	color: #fff;
}
.containerTable{
	padding: 5%;
}

.containerTable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerTable th, .containerTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    font-size: 0.9rem;
}
.containerTable th {
    background-color: rgb(21,101,191);
    color: white;
    font-weight: bold;
}
.btn-excluir {
	width: 40%;
	height: 10%;
	background-color: rgb(255, 71, 65);
	color: white;
	padding: 5px 5px;
	border: 1px solid rgb(255, 35, 28);;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 0.8rem;
	transition: background-color 0.3s;
	cursor: pointer;
}

.btn-excluir:hover {
	background-color:  rgb(255, 8, 0);
	color: #fff;
}

.btn-editar {
	width: 50%;
	height: 5%;
	background-color: #48a4ff;
	color: white;
	padding: 5px 10px;
	border: 1px solid #0080ff;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 0.8rem;
	transition: background-color 0.3s;
	cursor: pointer;
}

.btn-editar:hover {
	background-color:  rgb(21,101,191);
	color: #fff;
}
